body {
    background-color:  violet;
}

body main {
    color: white;
    background-color: black;
}

body main p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.para {
    background-color: red;
}

.t1 {
    background-color: green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.t2 {
    background-color: darkgoldenrod;
    font-family: 'Times New Roman', Times, serif;
}

.t3 {
    background-color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body main img{
    width: 300px;
    height: 300px;
    align-content: center;
}